
  /* LIN Logo  */
  .cls-lin-a {
    position: absolute;
    top: 45vh;
    left: 15.4vw;
    cursor: pointer;
    z-index: 10;
    background: transparent;
    opacity: 1;
  }
  
  .cls-lin-logo {
    width: 5.8vw;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .cls-lin-logo:hover {
    transform: scale(1.11);
  }
  
  /* SA Logo  */
  .cls-sa-a {
    position: absolute;
    top: 30.7vh;
    left: 35.6vw;
    cursor: pointer;
    z-index: 10;
    background: transparent;
    opacity: 1;
    object-fit: cover;
  }
  
  .cls-sa-logo {
    width: 6.9vw;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .cls-sa-logo:hover {
    transform: scale(1.12);
  }
  
  /* E Logo  */
  .cls-e-a {
    position: absolute;
    top: 29.8vh;
    right: 35.6vw;
    cursor: pointer;
    z-index: 10;
    background: transparent;
    opacity: 1;
    object-fit: cover;
  }
  
  .cls-e-logo {
    width: 6.6vw;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .cls-e-logo:hover {
    transform: scale(1.12);
  }
  
  /* CM Logo  */
  .cls-cm-a {
    position: absolute;
    top: 46vh;
    right: 12.5vw;
    cursor: pointer;
    z-index: 10;
    background: transparent;
    opacity: 1;
  }
  
  .cls-cm-logo {
    width: 7.4vw;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .cls-cm-logo:hover {
    transform: scale(1.11);
  }