/* Cosmology&Astronomy Logo  */
.ps-ca-a {
    position: absolute;
    top: 41.2vh;
    left: 17.5vw;
    cursor: pointer;
    z-index: 10;
    background: transparent;
    opacity: 1;
  }
  
  .ps-ca-logo {
    width: 6vw;
    height: auto;
    transition: transform 0.3s ease;
  }
    
  .ps-ca-logo:hover {
    transform: scale(1.13);
  }
  
  /* physics Logo  */
  .ps-phy-a {
    position: absolute;
    top: 27.5vh;
    left: 47.2vw;
    cursor: pointer;
    z-index: 10;
    background: transparent;
    opacity: 1;
    object-fit: cover;
  }
  
  .ps-phy-logo {
    width: 5.7vw;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .ps-phy-logo:hover {
    transform: scale(1.13);
  }
  
  /* chemistry Logo  */
  .ps-chem-a {
    position: absolute;
    top: 42vh;
    right: 17.5vw;
    cursor: pointer;
    z-index: 10;
    background: transparent;
    opacity: 1;
    object-fit: cover;
  }
  
  .ps-chem-logo {
    width: 6vw;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .ps-chem-logo:hover {
    transform: scale(1.12);
  }