.EditorialBoard-layout{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    text-align: center;
    position: relative;
}

.eb-mid-section{
    flex: 2;
  padding: 0 10px;
  text-align: center;

  margin-left: 21%;
  margin-right: 26%;
  width: 56%;
}