/* yoga Logo  */
.ycs-yoga-a {
    position: absolute;
    top: 40.2vh;
    left: 17.4vw;
    cursor: pointer;
    z-index: 10;
    background: transparent;
    opacity: 1;
  }
  
  .ycs-yoga-logo {
    width: 6.1vw;
    height: auto;
    transition: transform 0.3s ease;
  }
    
  .ycs-yoga-logo:hover {
    transform: scale(1.13);
  }
  
  /* cs Logo  */
  .ycs-cs-a {
    position: absolute;
    top: 29vh;
    left: 46.3vw;
    cursor: pointer;
    z-index: 10;
    background: transparent;
    opacity: 1;
    object-fit: cover;
  }
  
  .ycs-cs-logo {
    width: 7.5vw;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .ycs-cs-logo:hover {
    transform: scale(1.13);
  }
  
  /* psy Logo  */
  .ycs-psy-a {
    position: absolute;
    top: 42.4vh;
    right: 17.3vw;
    cursor: pointer;
    z-index: 10;
    background: transparent;
    opacity: 1;
    object-fit: cover;
  }
  
  .ycs-psy-logo {
    width: 6vw;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .ycs-psy-logo:hover {
    transform: scale(1.13);
  }