
  /* Agri Logo  */
  .ts-agri-a {
    position: absolute;
    top: 70.2vh;
    left: 7.2vw;
    cursor: pointer;
    z-index: 10;
    background: transparent;
    opacity: 1;
  }
  
  .ts-agri-logo {
    width: 6.4vw;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .ts-agri-logo:hover {
    transform: scale(1.11);
  }
  
  /* WM Logo  */
  .ts-wm-a {
    position: absolute;
    top: 48.4vh;
    left: 17.2vw;
    cursor: pointer;
    z-index: 10;
    background: transparent;
    opacity: 1;
    object-fit: cover;
  }
  
  .ts-wm-logo {
    width: 7vw;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .ts-wm-logo:hover {
    transform: scale(1.11);
  }
  
  /* Meta Logo  */
  .ts-meta-a {
    position: absolute;
    top: 32.5vh;
    left: 32.1vw;
    cursor: pointer;
    z-index: 10;
    background: transparent;
    opacity: 1;
    object-fit: cover;
  }
  
  .ts-meta-logo {
    width: 5.5vw;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .ts-meta-logo:hover {
    transform: scale(1.11);
  }
  
  /* CEA Logo  */
  .ts-cea-a {
    position: absolute;
    top: 28.4vh;
    right: 46vw;
    cursor: pointer;
    z-index: 10;
    background: transparent;
    opacity: 1;
  }
  
  .ts-cea-logo {
    width: 8vw;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .ts-cea-logo:hover {
    transform: scale(1.11);
  }

    /* ME Logo  */
    .ts-me-a {
        position: absolute;
        top: 34.4vh;
        right: 31.5vw;
        cursor: pointer;
        z-index: 10;
        background: transparent;
        opacity: 1;
      }
      
      .ts-me-logo {
        width: 6.7vw;
        height: auto;
        transition: transform 0.3s ease;
      }
      
      .ts-me-logo:hover {
        transform: scale(1.11);
      }

        /* TE Logo  */
  .ts-te-a {
    position: absolute;
    top: 46.7vh;
    right: 17.5vw;
    cursor: pointer;
    z-index: 10;
    background: transparent;
    opacity: 1;
  }
  
  .ts-te-logo {
    width: 5.8vw;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .ts-te-logo:hover {
    transform: scale(1.1);
  }


   /* Gem Logo  */
   .ts-gem-a {
    position: absolute;
    top: 70vh;
    right: 7.5vw;
    cursor: pointer;
    z-index: 10;
    background: transparent;
    opacity: 1;
  }
  
  .ts-gem-logo {
    width: 5.5vw;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .ts-gem-logo:hover {
    transform: scale(1.11);
  }